

/* ------------------------------------ */
/* add message screen styles */
/* ------------------------------------ */
#add-message-form {
    width: 100%;
}

#add-message-form form {
    padding: 10px;
}

#add-message-form-btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}