

/* ------------------------------------ */
/* chat screen styles */
/* ------------------------------------ */

#chat-screen {
    width: inherit;
    height: inherit;
}

#chat-screen-table {
    max-height: calc(100vh - 70px);
    overflow: scroll;
    width: inherit;
    position: relative;
}

.chat-screen-row:hover {
    cursor: pointer;
}

.chat-screen-row td p {
    color: lightslategray;
}

.chat-screen-row {
    padding: 1em;
    width: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr auto;
}

.chat-screen-row td h5, .chat-screen-row td h6 {
    pointer-events: none;
}

.chat-screen-row td p {
    background-color: white;
}

.chat-screen-row td:nth-of-type(even) {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.chat-screen-row td:nth-of-type(odd) {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#chat-screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: inherit;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#chat-screen-header button {
    padding: 8px;
}