

/* ------------------------------------ */
/* chat screen styles */
/* ------------------------------------ */

#chat-screen {
    width: inherit;
    height: inherit;
}

#chat-screen-table {
    max-height: calc(100vh - 70px);
    overflow: scroll;
    width: inherit;
    position: relative;
    margin-top: 70px;
}

.chat-screen-row {
    padding: 1em;
    width: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-screen-row:hover {
    cursor: pointer;
}

.chat-screen-row td p {
    color: lightslategray;
}

.chat-screen-row td {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.chat-screen-row td .chat-screen-vote-container {
    color: black;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 30px);
}

.chat-screen-row td .chat-screen-vote-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chat-screen-row td .chat-screen-text-container p,
.chat-screen-row td .chat-screen-text-container h5,
.chat-screen-row td .chat-screen-text-container h6 {
    pointer-events: none;
}

#chat-screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: inherit;
    position: fixed;
    z-index: 1;
    background-color: white;
    padding: 0 10px;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#chat-screen-header button {
    padding: 8px;
}