

/* ------------------------------------ */
/* message detail screen styles */
/* ------------------------------------ */

#message-detail-screen {
    width: 100%;
}

#message-detail-screen form {
    padding: 0 10px;
}

#message-detail-screen-comment-form {
    margin-top: 70px;
    margin-bottom: 40px;
}

#message-detail-screen-comments-count {
    padding: 0 10px;
    width: inherit;
}

#message-detail-screen-comments {
    width: inherit;
}

#message-detail-screen-message-card {
    margin: 0 10px;
}

#message-detail-screen-header {
    display: grid;
    grid-template-columns: auto 1fr;
}

#message-detail-screen-btn-back {
    font-size: 1.5em;
    margin-left: 10px;
}

.message-detail-screen-comment-card {
    margin: 5px 10px;
}

.message-detail-screen-comment {
    width: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.message-detail-screen-comment:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.message-detail-screen-comment td {
    padding:  10px 0 0 20px;
}

#message-detail-screen-edit-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-detail-screen-edit-form form{
    width: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.message-detail-screen-message-author-email {
    color: lightslategray;
    cursor: pointer;
}