#profile-screen {
    width: 100%;
    padding: 0 10px;
}

#profile-screen-header {
    display: grid;
    grid-template-columns: auto 1fr;
}

#profile-screen-messages-header {
    margin-top: 70px;
}