/* ------------------------------------ */
/* global styles */
/* ------------------------------------ */

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 1em;
}

#app {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.hidden {
    visibility: hidden;
}

button:hover {
    cursor: pointer;
}

.fa-pencil-square-o {
    font-size: 1.5em;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.negative {
    color: red !important;
}

.positive {
    color: green !important;
}

.negative, .positive {
    font-weight: 800;
}

/* ------------------------------------ */
/* add message screen styles */
/* ------------------------------------ */
#add-message-form {
    width: 100%;
}

#add-message-form form {
    padding: 10px;
}

#add-message-form-btn-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ------------------------------------ */
/* chat screen styles */
/* ------------------------------------ */

#chat-screen {
    width: inherit;
    height: inherit;
}

#chat-screen-table {
    max-height: calc(100vh - 70px);
    overflow: scroll;
    width: inherit;
    position: relative;
}

.chat-screen-row:hover {
    cursor: pointer;
}

.chat-screen-row td p {
    color: lightslategray;
}

.chat-screen-row {
    padding: 1em;
    width: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr auto;
}

.chat-screen-row td h5, .chat-screen-row td h6 {
    pointer-events: none;
}

.chat-screen-row td p {
    background-color: white;
}

.chat-screen-row td:nth-of-type(even) {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.chat-screen-row td:nth-of-type(odd) {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#chat-screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: inherit;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#chat-screen-header button {
    padding: 8px;
}

/* ------------------------------------ */
/* chat screen styles */
/* ------------------------------------ */

#chat-screen {
    width: inherit;
    height: inherit;
}

#chat-screen-table {
    max-height: calc(100vh - 70px);
    overflow: scroll;
    width: inherit;
    position: relative;
    margin-top: 70px;
}

.chat-screen-row {
    padding: 1em;
    width: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-screen-row:hover {
    cursor: pointer;
}

.chat-screen-row td p {
    color: lightslategray;
}

.chat-screen-row td {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.chat-screen-row td .chat-screen-vote-container {
    color: black;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, 30px);
}

.chat-screen-row td .chat-screen-vote-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chat-screen-row td .chat-screen-text-container p,
.chat-screen-row td .chat-screen-text-container h5,
.chat-screen-row td .chat-screen-text-container h6 {
    pointer-events: none;
}

#chat-screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: inherit;
    position: fixed;
    z-index: 1;
    background-color: white;
    padding: 0 10px;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#chat-screen-header button {
    padding: 8px;
}

/* ------------------------------------ */
/* message detail screen styles */
/* ------------------------------------ */

#message-detail-screen {
    width: 100%;
}

#message-detail-screen form {
    padding: 0 10px;
}

#message-detail-screen-comment-form {
    margin-top: 70px;
    margin-bottom: 40px;
}

#message-detail-screen-comments-count {
    padding: 0 10px;
    width: inherit;
}

#message-detail-screen-comments {
    width: inherit;
}

#message-detail-screen-message-card {
    margin: 0 10px;
}

#message-detail-screen-header {
    display: grid;
    grid-template-columns: auto 1fr;
}

#message-detail-screen-btn-back {
    font-size: 1.5em;
    margin-left: 10px;
}

.message-detail-screen-comment-card {
    margin: 5px 10px;
}

.message-detail-screen-comment {
    width: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.message-detail-screen-comment:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.message-detail-screen-comment td {
    padding:  10px 0 0 20px;
}

#message-detail-screen-edit-form {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message-detail-screen-edit-form form{
    width: 90%;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.message-detail-screen-message-author-email {
    color: lightslategray;
    cursor: pointer;
}#profile-screen {
    width: 100%;
    padding: 0 10px;
}

#profile-screen-header {
    display: grid;
    grid-template-columns: auto 1fr;
}

#profile-screen-messages-header {
    margin-top: 70px;
}