/* ------------------------------------ */
/* global styles */
/* ------------------------------------ */

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 1em;
}

#app {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.hidden {
    visibility: hidden;
}

button:hover {
    cursor: pointer;
}

.fa-pencil-square-o {
    font-size: 1.5em;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.negative {
    color: red !important;
}

.positive {
    color: green !important;
}

.negative, .positive {
    font-weight: 800;
}